FORMAT: 1A
HOST: https://api.tiendanube.com/v1/

# Nuvem Shop / Tienda Nube API

This is the official documentation for the Nuvem Shop / Tienda Nube API, and it will show you how to use our API to authenticate, make requests, and retrieve data.

## Getting Started

Before you start to code your app integration, you will need to:

1. Sign-up for a partner account at [Nuvem Shop](https://www.nuvemshop.com.br/parceiros) or [Tienda Nube](https://www.tiendanube.com/partners).

2. Once inside the partner's panel, go to the _Apps_ section and create your app in order to get your credentials.

3. Read up on the [authentication](/#introduction/authentication) to learn how to authenticate and authorize your requests.

4. Read the API docs of the desired resources to learn how to retrieve and manipulate the available data.

## The Basics

This API adheres to the [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) architectural constraints. Our API has predictable, resource-oriented URLs, and uses HTTP response codes to indicate API errors.

All communication with the API is made through HTTP requests, using headers to specify and retrieve metadata, and [JSON](https://www.json.org/) as the content format.

In this section, we describe what you need to know before you start making requests to the API, like the base URLs, the mandatory headers, the available HTTP methods and the different response status codes you may come across.

### Base URL

The API is available under the two following URLs and there is no difference between them, so you can choose either one:

* `https://api.nuvemshop.com.br`
* `https://api.tiendanube.com`

The path is prefixed with the API version and store ID, respectively, which is currently _v1_, so if we change the API in backward-incompatible ways, we'll bump the version marker and maintain stable support for the old URLs.

Finally, **the API version must be suffixed with the requested store ID**, so if you want to access the store with id _123456_ via the API, you'll use either of the following URLs:
* `https://api.nuvemshop.com.br/v1/123456`
* `https://api.tiendanube.com/v1/123456`.

>**Note**: The API is only available over SSL, so you have to specify the protocol (HTTPS) in all URLs.

### Allowed HTTP Methods

| Method | Description |
| --- | --- |
|`GET`| Used to get information about a specific resource. |
|`POST`| Used to create a new resource object. |
|`PUT`| Used to update/replace a resource object. |
|`DELETE`| Used to delete resource objects. |
|`HEAD`| Used to retrieve the headers of a resource. |

>**Note**: For PUT requests with no body attribute, be sure to set the Content-Length header to zero.

### Typical Server Responses

| Code| Description |
| --- | --- |
|`200`| Success. Request completed. |
|`201`| Success. New resource created. |
|`204`| Success. No content to return. Only the status code is returned. |
|`400`| Bad Request - [The request could not be parsed](/#introduction/error-handling/client-errors). |
|`401`| Unauthorized - The [access token](/#introduction/authentication) is missing or is not valid. |
|`403`| Forbidden - Operation not permitted, permission not granted. |
|`404`| Not Found - Resource doesn't exist. |
|`409`| Conflict - Discord with state of the resource on server. Can occur with too many PUT requests. |
|`415`| Unsupported Media Type - Your request must include a `Content-type` header. See the [JSON](/#introduction/the-basics/json) section for more information. |
|`422`| Unprocessable Entity - [Invalid fields sent](/#introduction/error-handling/client-errors). |
|`429`| Too Many Requests - [API rate limits exceeded](/#introduction/usage-limits). |
|`500`| [Internal Server Error](/#introduction/error-handling/server-errors). |
|`502`| [Bad gateway](/#introduction/error-handling/server-errors). |
|`503`| [Service unavailable](/#introduction/error-handling/server-errors). |
|`504`| [Gateway timeout](/#introduction/error-handling/server-errors). |

### JSON

All data is sent and received as JSON. Our format has no root element and we use snake_case to describe attribute keys. This means that you have to send `Content-Type: application/json; charset=utf-8` when POSTing or PUTing data to the Nuvem Shop / Tienda Nube API.

>**Note**: You will receive a `415 Unsupported Media Type` response code if you leave out the Content-Type header.

### Pagination

Requests that return multiple items (also known as Collections) will be paginated to 30 items by default.

You can specify further pages with the `page` parameter and also set a custom page size up to 200 with the `per_page` parameter using a query string appended to the URL, like the following:
* `https://api.tiendanube.com/v1/123456/products?page=2&per_page=100`

To check the total count of the results you can use the `X-Total-Count` header that will be returned by every request in a collection resource.

To check the next and previous links for pagination you can use the `Link` header:

```
    HTTP/1.1 200 OK
    Content-Type: application/json; charset=UTF-8
    X-Total-Count: 5000
    Link: <https://api.tiendanube.com/v1/123456/products?page=3&per_page=100>; rel="next", <https://api.tiendanube.com/v1/123456/products?page=50&per_page=100>; rel="last"
```

The possible `rel` values are:

| Value | Description |
| --- | --- |
| next | Shows the URL of the immediate next page of results. |
| last | Shows the URL of the last page of results. |
| first | Shows the URL of the first page of results. |
| prev | Shows the URL of the immediate previous page of results. |

>**Note**: The page numbering is 1-based and ommiting the page parameter will return the first page.

## Authentication

We follow the OAuth 2 framework for letting users authorize their applications to use Nuvem Shop / Tienda Nube on their own.

Basically, when someone installs your app, you will have to obtain an access token (a secret string denoting your rights over a given store) from the user, which **you will need to include in the header of every request**.

We provide authorization and user authentication by a restricted form of OAuth 2. At a glance:
* The only grant type we support is the "authorization code".
* Our access tokens don't expire. They become invalid only after you get a new one, or if the user uninstalls your app.
* Along with the access token we provide a `user_id` or `store_id`, which is the ID of the store. **You need the user_id to make requests to our API**. It is also useful for authenticating app users on your website (see [User Authentication](/#introduction/authentication/user-authentication)).

### Introduction

- The first step is to register your application.
    * You will need to go to [Nuvem Shop Parceiros](https://partners.nuvemshop.com.br) or [Tienda Nube Partners](https://partners.tiendanube.com) and sign-up to the Partners program.
    * Once logged in, you'll need to access the application tab. If this is your first time in this site, a dropdown menu may appear with the option to create new applications instead.
    * Here you will find a list of your applications and a button to create a new one. Clicking on the `Create Application` button will bring up a form for you to complete before you can click on `Create Application` to confirm the process.
- When creating an app, you will have to select the scopes it needs and set a redirection URL.
    * The scopes specify the resources for which the app is asking authorization of its users (see [Scopes](/#introduction/authentication/scopes)).
    * The redirection URL is used as part of the authorization flow (see [Authorization Flow](/#introduction/authentication/authorization-flow)).
- After your application has been registered, you'll have your application's exclusive information, including `client_id` and `client_secret`. You will need this data to complete the authorization flow for every new user that downloads your application.
    * You can read more about this in our [Authorization Flow](/#introduction/authentication/authorization-flow) section.

> **Note**: You will have to supply your own URL for the redirection URL. Nuvem Shop/Tienda Nube will not take responsability for failed redirections. This step is especially important because each new user will have to go through it to install the application succesfully (see [Authorization Flow](/#introduction/authentication/authorization-flow) for more information).

### Authorization Flow

This process will take place each time a user attempts to install your application. The objective of this process is for you to acquire the unique `access_token` that will allow your application to have access to the user's Nuvem Shop/Tienda Nube.

The authorization flow is as follows:
1. Users, from their Nuvem Shop / Tienda Nube app store, select your app to install it. Or, alternatively, they go to `https://www.tiendanube.com/apps/(app_id)/authorize` (if they are not logged in, they will be prompted to do so).
2. Users then redirect to the authorization page, where your app will request the user the permissions it needs (if they have already done this, the step is skipped).
3. Finally, users are redirected to your app's redirection URL with an authorization code.
4. Using your app's credentials and the authorization code, you can obtain an access token by making a POST request to `https://www.tiendanube.com/apps/authorize/token`. (Don't forget to also send `grant_type=authorization_code` - see the example provided below).

> **Note**: Any of these URLs in the tiendanube.com domain can be replaced for identical ones in the nuvemshop.com.br domain or vice versa.

#### Example:

* If your app's data is:
    * store_id = 123
    * redirection URL = `https://www.example.com/`
    * scopes = `read_orders`, `write_products`
    * client_secret = abcdef

The user will then follows these steps:
1. User with ID 789 goes to `https://www.tiendanube.com/apps/123/authorize?state=csrf-code`
2. They accept (or not) the requested permissions (scopes).
3. User gets redirected to `https://www.example.com/?code=xyz&state=csrf-code`
4. Finally, you send a POST request to the authorization URL, with your app's credentials, followed by the grant_type and the authorization code received in the previous step, like so:
```
        curl https://www.tiendanube.com/apps/authorize/token \
        --data \
        'client_id=123&client_secret=abcdef&grant_type=authorization_code&code=xyz'
```

Finally, you receive the following information:
```
{
       "access_token":"mySt0r34cc3ssT0k3n",
       "token_type":"bearer",
       "scope":"read_orders,write_products",
       "user_id":"789"
}
```

> **Note**: Remember, each HTTP request made to a user's Nuvem Shop/Tienda Nube must contain the Authentication header, whose value is `token_type access_token`. In the example this would be:
> ```Authentication: bearer mySt0r34cc3ssT0k3n```

### Scopes

Apps should only ask for the access scopes they need. For example, if an app only needs to read products, it should only ask for the `read_products` scope.

>**Note**: If you ask for any write scope, the read scope is implied.

>**Note**: As a [Webhook](/#reference/webhook) relies on other resources, you will only be able to register webhooks for the resources you were granted permission to use.

The available `scopes` are:

| Scope | Affected Content |
| --- | --- |
| `read_content` / `write_content` | `Page` |
| `read_products` / `write_products` | `Product`, `Product Variant`, `Product Image` and `Category` |
| `read_customers` / `write_customers` | `Customer` |
| `read_orders` / `write_orders` | `Order` |
| `read_coupons` / `write_coupons` | `Coupon` |
| `write_scripts` | `Script` |

### User Authentication

Should you need your app's users to be able to sign-in to your website, you can reuse the Authorization flow:
* The login button should be a link to: https://www.tiendanube.com/apps/(app_id)/authorize
* You can sign-in the user with the ID you receive with the new access token.
>**Note**: We [recommend](https://tools.ietf.org/html/rfc6749#section-10.12) you add a `state` parameter for CSRF protection (e.g. a hash of the session cookie), so you may verify it after the redirection.

### Identify Your App

In every API request you *must* include a `User-Agent` header with the name of your application and a link to it, or your email address so we can get in touch with you. Here are some examples:
* `User-Agent: Super app (http://superapp.com/contact)`
* `User-Agent: Awesome app (awesome@app.com)`
>**Note**: If you don't supply this header, you will get a `400 Bad Request` response.

## Error Handling

### Client Errors

These are the possible types of client errors on API calls that receive request bodies:

* Sending invalid JSON will result in a `400 Bad Request` response.
```
HTTP/1.1 400 Bad Request
Content-Length: 34
{"error": "Problems parsing JSON"}
```

> **Note**: Did you make an API request without the `User-Agent` [header](/#introduction/authentication/identify-your-app)?
> **Note**: Missing a parenthesis? Try [this JSON validator](https://jsonlint.com/).

* Sending invalid fields will result in a `422 Unprocessable Entity` response.
```
HTTP/1.1 422 Unprocessable Entity
Content-Length: 47
{
    "src": [
        "can't be blank"
    ]
}
```

>**Note**: All parameters' values must be separated by commas.

### Server Errors

If Nuvem Shop/Tienda Nube is having trouble, you might see a 5xx error. `500 Internal Server Error` means that the app is entirely down, but you might also see `502 Bad Gateway`, `503 Service Unavailable`, or `504 Gateway Timeout`. It's your responsibility in all of these cases to retry your request later.

## Usage Limits

In order to control the incoming traffic to the API, we allow you to perform a limited number of requests in a given period of time. Currently, the approach used to limit the API usage is based on a [Leaky Bucket algorithm](https://en.wikipedia.org/wiki/Leaky_bucket) implementation, where the default bucket size is of 40 requests with a leaky rate of 2 requests per second, which means that you can make up to 40 requests in a second, while gaining 2 additional requests every second after that, until you reach the maximum of 40 requests once more. Should you exceed this limitation, you'll receive a `429 - Too Many Requests` error. To provide information about the limit usage, we use the following headers:

* `X-Rate-Limit-Limit`: Total requests that can be done in a given period.
* `X-Rate-Limit-Remaining`: Remaining requests in the current period.
* `X-Rate-Limit-Reset`: Remaining seconds until the start of the next period.

## Front-end Integration

When using scripts to integrate your app with the storefront, you may want to bind yourself to certain events or access related objects.

While support for this is still being improved, there is one single event you may bind yourself to: `LS.registerOnChangeVariant(callback)` where callback is a function that receives a single argument, a variant, that contains information about the chosen product variant. In particular, `variant.element` contains a string detailing a jQuery selector that you may use in order to obtain a container for the chosen variant's form; this is important when working with themes that have a "quick shop" feature, such as LinkedMan or LinkedWoman, as there may be more than one product form present in a page.

## Suspension of API access due to lack of payment

Being a monthly subscription service, it's possible that a store will not renew its service. In this case, the store will go offline and the API will be inaccessible. The API will also be inaccessible if the app has a recurring price and it's not paid in time.

In either case, all API calls will return a `402 Payment Required` response. Scripts will not be included and Webhooks will not be called. Please make sure you handle this error code to notify the user that he needs to resume his payment instead of displaying a generic server error.

Once the required payment is made, the API becomes accessible again.

>**Note**: If your app needs to know when access to the API is suspended or resumed (because you may have missed a webhook and want to do a full resync, for example), you can register to the app/suspended and app/resumed events using a [Webhook](/#reference/webhook).

## Help Us Make It Better

To talk with us about the API, feel free to [contact us](mailto:api@tiendanube.com) via e-mail to api@tiendanube.com with any doubts or to provide feedback.

# Group Store

The Store resource contains general settings and information about a Nuvem Shop / Tienda Nube store.

## Managing The Store [/store]

+ Attributes
    + id (number) - The unique numeric identifier for the Store.
    + name (array[string]) - List of the names of the Store, in every language supported by the store.
    + description (array[string]) - List of the descriptions of the Store, in every language supported by the store.
    + type (string) - Store type. Examples include "clothing", "sports", "electronic". Can be null.
    + email (string) - Store owner's e-mail.
    + logo (string) - Store logo URL, starting with // (or null if it has no logo).
    + contact_email (string) - Store's contact e-mail.
    + facebook (string) - Store's Facebook URL.
    + twitter (string) - Store's Twitter URL.
    + google_plus (string) - Store's G+ URL.
    + instagram (string) - Store's Instagram URL.
    + pinterest (string) - Store's Pinterest URL.
    + blog (string) - Store's blog URL.
    + address (string) - Store's address.
    + phone (string) - Store's phone.
    + business_id (string) - Business identifier (different for each country) of the company who owns the store.
    + business_name (string) - Business name of the company who owns the store.
    + business_address (string) - Business address of the company who owns the store.
    + customer_accounts (string) - "optional" if the customer is allowed to checkout as guest. "mandatory" if not.
    + plan_name (string) - Name of the Tienda Nube/Nuvem Shop's plan the store is on.
    + country (string) - Store's country in ISO 3166-1 format.
    + languages (string) - Store available languages with its currency and whether or not is active.
    + domains (array[string]) - List of store's domains.
    + original_domain (string) - Original tiendanube.com or nuvemshop.com.br domain for the Store.
    + current_theme (string) - Store's current theme.
    + main_language (string) - Store's main language.
    + main_currency (string) - Store's main currency in ISO 4217 format.
    + admin_language (string) - Store's admin language.
    + created_at (string) - Date when the Store was created in ISO 8601 format.


### Retrieve The Store's Information [GET /{store_id}/store{?fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            "address": null,
            "admin_language": "pt",
            "blog": null,
            "business_id": null,
            "business_name": null,
            "business_address": null,
            "contact_email": "contact@pokestore.com",
            "country": "BR",
            "created_at": "2013-01-01T05:12:51-03:00",
            "customer_accounts": "optional",
            "description": {
                "en": "",
                "es": "",
                "pt": ""
            },
            "domains": [
                "www.pokestore.com",
                "www.another.com"
            ],
            "email": "owner@pokestore.com",
            "facebook": "http://www.facebook.com/pokestore",
            "google_plus": "http://plus.google.com/+pokestore",
            "id": 1234,
            "instagram": "http://www.instagram.com/pokestore",
            "languages": {
                "en": {
                    "currency" : "USD",
                    "active": true
                },
                "es": {
                    "currency" : "ARS",
                    "active": false
                },
                "pt": {
                    "currency" : "BRL",
                    "active": true
                }
            },
            "logo": "//d26lpennugtm8s.cloudfront.net/stores/046/themes/common/logo-ff622335866ee56df3bceed2e9d41469.png",
            "main_currency": "BRL",
            "current_theme": "luxury",
            "main_language": "pt",
            "name": {
                "en": "Poké Store",
                "es": "Poké Tienda",
                "pt": "Poké Loja"
            },
            "original_domain" : "pokeloja.nuvemshop.com.br",
            "phone": null,
            "pinterest": "http://www.pinterest.com/pokestore",
            "plan_name": "Business",
            "type": null,
            "twitter": "http://www.twitter.com/pokestore" 
        }

# Group Product

## Introduction

A Product in a Tienda Nube store is an item for sale, and it is a composition of entities that forms a product object.

A `Product` will always have one or more `Product Variants` and may have one or more `Product Images`.

### Product

A [Product](/#reference/product/managing-products-examples-and-resources) is an item for sale in a Tienda Nube/Nuvem Shop's store. It can be either a good or a service.

### Product Variants

[Product Variants](/#reference/product/managing-product-variants-examples-and-resources) allow you to group up different variants/properties on the same product. For example, a shoe with different sizes and colors, all within the same product.

### Product Images

[Product Images](/#reference/product/managing-product-images-examples-and-resources) could well be the single most important design aspect of any store. Without the ability to touch, hold, smell, taste or otherwise handle the products they are interested in, potential customers have only the product's images to interact with.

> **Note**: The product images have the following restrictions:
> * Must weight less than 10MB
> * Must be in one of the following formats: .gif, .jpg, .png

## Managing Products [/product]

+ Attributes
    + id (number) - The unique numeric identifier for the Product.
    + name (array[string]) - List of the names of the Product, in every language supported by the store.
    + description (array[string]) - List of the descriptions of the Product, as HTML, in every language supported by the store.
    + handle (array[string]) - List of the url-friendly strings generated from the Product's names, in every language supported by the store.
    + variants (array[string]) - List of [Product Variant](/#reference/product/managing-product-variants-examples-and-resources) objects representing the different versions of the Product. Variants cannot be modified once created, however they can be added or erased.
    + images (array[string]) - List of [Product Image](/#reference/product/managing-product-images-examples-and-resources) objects representing the Product's images.
    + categories (array[number]) - List of [Category](/#reference/category) objects representing the Product's categories.
    + published (string) - `true` if the Product is published in the store. `false` if the Product will not show up on the store.
    + attributes (array[string]) - List of the names of the attributes whose values define the variants. E.g.: Color, Size, etc.
    + brand (string) - Name of the product's brand.
    + tags (string) - String with all the Product's tags, separated by commas.
    + `created_at` (string) - Date when the Product was created in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
    + `updated_at` (string) - Date when the Product was last updated in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).

### Get All Products [GET /{store_id}/products/{?since_id,language,q,handle,category_id,published,free_shipping,created_at_min,created_at_max,updated_at_min,updated_at_max,sort_by,page,per_page,fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + since_id (string, optional) - Restrict results to after the specified ID.
    + language (string, optional) - Specify search language.
    + q (string, optional) - Search Products containing the given text in their names or descriptions.
    + handle (string, optional) - Show Products with a given URL.
    + category_id (string, optional) - Show Products with a given category.
    + published (string, optional) - Show Products by published status. Valid values are "true" or "false".
    + free_shipping (string, optional, `true`) - Show Products by whether they have free shipping or not. Valid values are "true" or "false".
    + created_at_min (string, optional) - Show Products created after date (ISO 8601 format).
    + created_at_max (string, optional) - Show Products created before date (ISO 8601 format).
    + updated_at_min (string, optional) - Show Products last updated after date (ISO 8601 format).
    + updated_at_max (string, optional) - Show Products last updated before date (ISO 8601 format).
    + sort_by (string, optional) - Sort Products by a particular criteria.
    + page (number, optional) - Page to show.
    + per_page (number, optional) - Amount of results.
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        [
            {
                "id": 435407,
                "name": {
                    "es": "Cambiate por favor",
                    "en": "OG add image action"
                },
                "description": {
                    "es": "<p>Isso!<\/p>\r\n",
                    "en": "<p>Isso!<\/p>\r\n"
                },
                "handle": {
                    "es": "cambiate-por-favor",
                    "en": "og-add-image-action"
                },
                "attributes": [],
                "published": true,
                "free_shipping": true,
                "created_at": "2012-02-19T17:34:36+0000",
                "updated_at": "2014-07-17T14:13:19+0000",
                "variants": [
                    {
                        "id": 821537,
                        "product_id": 435407,
                        "position": 5,
                        "price": "22.00",
                        "promotional_price": null,
                        "stock_management": false,
                        "stock": null,
                        "weight": "0.75",
                        "width": "0.00",
                        "height": "0.00",
                        "depth": "0.00",
                        "sku": "ASF",
                        "values": [],
                        "created_at": "2012-02-19T17:34:37+0000",
                        "updated_at": "2014-07-17T14:13:19+0000"
                    }
                ],
                "tags": "algo, jojo",
                "images": [
                    {
                        "id": 634688,
                        "product_id": 435407,
                        "src": "https:\/\/s3-sa-east-1.amazonaws.com\/tiendanube-mati\/stores\/046\/products\/blog%2024-1024-1024.jpg",
                        "position": 1
                    },
                    {
                        "id": 1021828,
                        "product_id": 435407,
                        "src": "https:\/\/s3-sa-east-1.amazonaws.com\/tiendanube-mati\/stores\/046\/products\/do-test-1024-1024.jpg",
                        "position": 2
                    }
                ],
                "categories": [
                    {
                        "id": 105190,
                        "name": {
                            "es": "Pantalones",
                            "en": "Pantalones"
                        },
                        "description": {
                            "es": "",
                            "en": ""
                        },
                        "handle": {
                            "es": "pantalones",
                            "en": "pantalones"
                        },
                        "parent": null,
                        "subcategories": [
                            119258
                        ],
                        "created_at": "2012-02-19T17:34:36+0000",
                        "updated_at": "2014-01-28T14:10:12+0000"
                    }
                ]
            }
        ]

### Get A Single Product [GET /{store_id}/products/#{id}{?fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `1234`)
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
          "attributes": [
              {
                  "en": "Size"
              }
          ],
          "categories": [
              {
                  "created_at": "2013-01-03T09:11:51-03:00",
                  "description": {
                      "en": "",
                      "es": "",
                      "pt": ""
                  },
                  "handle": {
                      "en": "poke-balls",
                      "es": "poke-balls",
                      "pt": "poke-balls"
                  },
                  "id": 4567,
                  "name": {
                      "en": "Poké Balls",
                      "es": "Poké Balls",
                      "pt": "Poké Balls"
                  },
                  "parent": null,
                  "subcategories": [],
                  "updated_at": "2013-03-11T09:14:11-03:00"
            }
          ],
          "created_at": "2013-01-03T09:11:51-03:00",
          "description": {
              "en": "<p>The best Ball with the ultimate level of performance. It will catch any wild Pokémon without fail.</p>",
              "es": "<p>La mejor Bola con el nivel máximo de desempeño. Atrapará cualquier Pokémon sin fallar.</p>",
              "pt": "<p>A melhor Bola com o nível máximo de desempenho. Ele vai pegar qualquer Pokémon selvagem sem falhar.</p>"
          },
          "handle": {
              "en": "master-ball",
              "es": "master-ball",
              "pt": "master-ball"
          },
          "id": 1234,
          "images": [
            {
              "id": 101,
              "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/servine-640-0.jpg",
              "position": 1,
              "product_id": 1234
            },
            {
              "id": 112,
              "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/onyx-640-0.jpg",
              "position": 2,
              "product_id": 1234
            },
            {
              "id": 123,
              "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/stoutland-640-0.jpg",
              "position": 3,
              "product_id": 1234
            }
          ],
          "name": {
              "en": "Master Ball",
              "es": "Master Ball",
              "pt": "Master Ball"
          },
          "published": true,
          "updated_at": "2013-03-11T09:14:11-03:00",
          "variants": [
            {
             "id": 101,
             "promotional_price": "19.00",
             "created_at": "2013-01-03T09:11:51-03:00",
             "depth": null,
             "height": null,
             "values": [
                  {
                      "en": "Small"
                  }
              ],
             "price": "25.00",
             "product_id": 1234,
             "stock_management": true,
             "stock": 5,
             "sku": "BSG1234A",
             "updated_at": "2013-03-11T09:14:11-03:00",
             "weight": "2.00",
             "width": null      
           },
           {
             "id": 112,
             "promotional_price": "19.00",
             "created_at": "2013-01-03T09:11:51-03:00",
             "depth": null,
             "height": null,
             "values": [
                  {
                      "en": "Small"
                  }
              ],
             "price": "25.00",
             "product_id": 1234,
             "stock_management": true,
             "stock": 5,
             "sku": "BSG1234B",
             "updated_at": "2013-03-11T09:14:11-03:00",
             "weight": "2.25",
             "width": null      
           },
           {
             "id": 133,
             "promotional_price": "19.00",
             "created_at": "2013-01-03T09:11:51-03:00",
             "depth": null,
             "height": null,
             "values": [
                  {
                      "en": "Small"
                  }
              ],
             "price": "25.00",
             "product_id": 1234,
             "stock_management": true,
             "stock": 5,
             "sku": "BSG1234C",
             "updated_at": "2013-03-11T09:14:11-03:00",
             "weight": "2.50",
             "width": null
           }
          ]
        }

### Create A New Product [POST /{store_id}/products/{?name,variants,images}]

+ Parameters
    + store_id (integer, required) - The requested store ID.

+ Attributes
    + name (array[string], required) - List of the names of the Product, in every language supported by the store.
    + variants (array[string]) - List of Product Variant objects representing the different versions of the Product. Variants cannot be modified once created, however they can be added or erased.
    + images (array[string]) - List of Product Image objects representing the Product's images.
    + description (array[string]) - List of the descriptions of the Product, as HTML, in every language supported by the store.
    + handle (array[string]) - List of the url-friendly strings generated from the Product's names, in every language supported by the store.
    + categories (array[number]) - List of Category objects representing the Product's categories.
    + published (string) - `true` if the Product is published in the store. `false` if the Product will not show up on the store.
    + attributes (array[string]) - List of the names of the attributes whose values define the variants. E.g.: Color, Size, etc.
    + brand (string) - Name of the product's brand.

+ Request (application/json; charset=utf-8)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n
    
    + Body

            {
                "images": [
                  {
                    "src": "http://images1.wikia.nocookie.net/__cb20101106022321/pokemon/images/f/f1/UltraBallArt.png"
                  }
                ],
                "name": {
                  "en": "Ultra Ball",
                  "es": "Ultra Ball",
                  "pt": "Ultra Ball"
                },
                "variants": [
                    {
                        "price": "10.00",
                        "stock_management": true,
                        "stock": 12,
                        "weight": "2.00"
                    }
                ]
            }

+ Response 201 (application/json)

        {
            "attributes": [],
            "categories": [
                {
                    "created_at": "2013-01-03T09:11:51-03:00",
                    "description": {
                        "en": "",
                        "es": "",
                        "pt": ""
                    },
                    "handle": {
                        "en": "poke-balls",
                        "es": "poke-balls",
                        "pt": "poke-balls"
                    },
                    "id": 4567,
                    "name": {
                        "en": "Poké Balls",
                        "es": "Poké Balls",
                        "pt": "Poké Balls"
                    },
                    "parent": null,
                    "subcategories": [],
                    "updated_at": "2013-03-11T09:14:11-03:00"
              }
            ],
            "created_at": "2013-06-01T12:15:11-03:00",
            "description": {
                "en": "",
                "es": "",
                "pt": ""
            },
            "handle": {
                "en": "ultra-ball",
                "es": "ultra-ball",
                "pt": "ultra-ball"
            },
            "id": 2435,
            "images": [
              {
                "id": 231,
                "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/UltraBallArt.jpg"
                "position": 1,
                "product_id": 2435
              }
            ],
            "name": {
                "en": "Ultra Ball",
                "es": "Ultra Ball",
                "pt": "Ultra Ball"
            },
            "published": true,
            "created_at": "2013-06-01T12:15:11-03:00",
            "variants": [
                {
                 "id": 101,
                 "promotional_price": null,
                 "created_at": "2013-06-01T12:15:11-03:00",
                 "depth": null,
                 "height": null,
                 "values": [],
                 "price": "10.00",
                 "product_id": 1234,
                 "stock_management": true,
                 "stock": 12,
                 "sku": null,
                 "updated_at": "2013-03-11T09:14:11-03:00",
                 "weight": "2.00",
                 "width": null      
               }
            ]
        }

### Modify An Existing Product [PUT /{store_id}/products/#{id}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `5123`)

+ Attributes
    + name (array[string]) - List of the names of the Product, in every language supported by the store.
    + description (array[string]) - List of the descriptions of the Product, as HTML, in every language supported by the store.
    + handle (array[string]) - List of the url-friendly strings generated from the Product's names, in every language supported by the store.
    + categories (array[string]) - List of Category objects representing the Product's categories.
    + published (string) - `true` if the Product is published in the store. `false` if the Product will not show up on the store.
    + attributes (array[string]) - List of the names of the attributes whose values define the variants. E.g.: Color, Size, etc.
    + brand (string) - Name of the product's brand.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n
    
    + Body

            {
                "categories": [4567],
                "id": 1234,
                "published": false
            }

+ Response 200 (application/json)

        {
            "attributes": [
                {
                    "en": "Size"
                }
            ],
            "categories": [
                {
                    "created_at": "2013-01-03T09:11:51-03:00",
                    "description": {
                        "en": "",
                        "es": "",
                        "pt": ""
                    },
                    "handle": {
                        "en": "poke-balls",
                        "es": "poke-balls",
                        "pt": "poke-balls"
                    },
                    "id": 4567,
                    "name": {
                        "en": "Poké Balls",
                        "es": "Poké Balls",
                        "pt": "Poké Balls"
                    },
                    "parent": null,
                    "subcategories": [],
                    "updated_at": "2013-03-11T09:14:11-03:00"
              }
            ],
            "created_at": "2013-01-03T09:11:51-03:00",
            "description": {
                "en": "<p>The best Ball with the ultimate level of performance. It will catch any wild Pokémon without fail.</p>",
                "es": "<p>La mejor Bola con el nivel máximo de desempeño. Atrapará cualquier Pokémon sin fallar.</p>",
                "pt": "<p>A melhor Bola com o nível máximo de desempenho. Ele vai pegar qualquer Pokémon selvagem sem falhar.</p>"
            },
            "handle": {
                "en": "master-ball",
                "es": "master-ball",
                "pt": "master-ball"
            },
            "id": 1234,
            "images": [
              {
                "id": 101,
                "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/servine-640-0.jpg",
                "position": 1,
                "product_id": 1234
              },
              {
                "id": 112,
                "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/onyx-640-0.jpg",
                "position": 2,
                "product_id": 1234
              },
              {
                "id": 123,
                "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/stoutland-640-0.jpg",
                "position": 3,
                "product_id": 1234
              }
            ],
            "name": {
                "en": "Master Ball",
                "es": "Master Ball",
                "pt": "Master Ball"
            },
            "published": false,
            "updated_at": "2013-06-01T12:15:11-03:00",
            "variants": [
              {
               "id": 101,
               "promotional_price": "19.00",
               "created_at": "2013-01-03T09:11:51-03:00",
               "depth": null,
               "height": null,
               "values": [
                   {
                       "en": "Small"
                   }
               ],
               "price": "25.00",
               "product_id": 1234,
               "stock_management": true,
               "stock": 5,
               "sku": "BSG1234A",
               "updated_at": "2013-03-11T09:14:11-03:00",
               "weight": "2.00",
               "width": null      
             },
             {
               "id": 112,
               "promotional_price": "19.00",
               "created_at": "2013-01-03T09:11:51-03:00",
               "depth": null,
               "height": null,
               "values": [
                   {
                       "en": "Medium"
                   }
               ],
               "price": "25.00",
               "product_id": 1234,
               "stock_management": true,
               "stock": 5,
               "sku": "BSG1234B",
               "updated_at": "2013-03-11T09:14:11-03:00",
               "weight": "2.25",
               "width": null      
             },
             {
               "id": 133,
               "promotional_price": "19.00",
               "created_at": "2013-01-03T09:11:51-03:00",
               "depth": null,
               "height": null,
               "values": [
                   {
                       "en": "Large"
                   }
               ],
               "price": "25.00",
               "product_id": 1234,
               "stock_management": true,
               "stock": 5,
               "sku": "BSG1234C",
               "updated_at": "2013-03-11T09:14:11-03:00",
               "weight": "2.50",
               "width": null
             }
            ]
        }

### Remove A Product [DELETE /{store_id}/products/#{id}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `1234`)

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            
        }

## Product Variants [/product_variant]

+ Attributes
    + id (number) - The unique numeric identifier for the Product Variant.
    + image_id (number) - The id of the product's image associated with the variant.
    + product_id (number) - The id of the product associated with the variant.
    + price (number) - Price of the Product Variant. `null` indicates the product will initiate a contact instead of a checkout process.
    + promotional_price (string) - Lower price to display as a sale. The value of price will be displayed crossed out for comparison.
    + stock_management (string) - Specifies whether or not Tienda Nube/Nuvem Shop tracks the number of items in stock for this product variant. Valid values are `true` if Tienda Nube/Nuvem Shop tracks the stock, `false` if it doesn't.
    + stock (string) - Stock of the Product Variant. If `stock_management` is `false` the stock will be `null`.
    + weight (string) - Weight of the Product Variant in kilograms.
    + width (string) - Width of the Product Variant in centimetres.
    + height (string) - Height of the Product Variant in centimetres.
    + depth (string) - Depth of the Product Variant in centimetres.
    + sku (string) - Unique identifier of the Product Variant in your store.
    + values (array[string]) - List of the values of the attributes whose values define the variant. E.g.: Large, Medium, etc.
    + `created_at` (string) - Date when the Product Variant was created in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
    + `updated_at` (string) - Date when the Product Variant was last updated in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).

### Get All Variants Of A Product [GET /{store_id}/products/#{product_id}/variants/{?since_id,created_at_min,created_at_max,updated_at_min,updated_at_max,page,per_page,fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + product_id (number, `1234`) - The id of the product associated with the variant.
    + since_id (string, `105`) - Restrict results to after the specified ID.
    + created_at_min (string) - Show Product Variants created after date (ISO 8601 format).
    + created_at_max (string) - Show Product Variants created before date (ISO 8601 format).
    + updated_at_min (string) - Show Product Variants last updated after date (ISO 8601 format).
    + updated_at_max (string) - Show Product Variants last updated before date (ISO 8601 format).
    + page (string) - Page to show.
    + per_page (string) - Amount of results.
    + fields (string) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        [
            {
              "id": 112,
              "image_id": null,
              "promotional_price": "19.00",
              "created_at": "2013-01-03T09:11:51-03:00",
              "depth": null,
              "height": null,
              "values": [
                  {
                      "en": "Small"
                  }
              ],
              "price": "25.00",
              "product_id": 1234,
              "stock_management": true,
              "stock": 5,
              "sku": "BSG1234B",
              "updated_at": "2013-03-11T09:14:11-03:00",
              "weight": "2.25",
              "width": null      
            },
            {
              "id": 133,
              "image_id": null,
              "promotional_price": "19.00",
              "created_at": "2013-01-03T09:11:51-03:00",
              "depth": null,
              "height": null,
              "values": [
                  {
                      "en": "Small"
                  }
              ],
              "price": "25.00",
              "product_id": 1234,
              "stock_management": true,
              "stock": 5,
              "sku": "BSG1234C",
              "updated_at": "2013-03-11T09:14:11-03:00",
              "weight": "2.50",
              "width": null
            }
        ]

### Get A Particular's Product's Variant [GET /{store_id}/products/#{product_id}/variants/#{id}{?fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `112`) - The unique identifier for the Product Variant.
    + product_id (number, `1234`) - The id of the product associated with the product's variant.
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
              "id": 112,
              "image_id": null,
              "promotional_price": "19.00",
              "created_at": "2013-01-03T09:11:51-03:00",
              "depth": null,
              "height": null,
              "values": [
                  {
                      "en": "Small"
                  }
              ],
              "price": "25.00",
              "product_id": 1234,
              "stock_management": true,
              "stock": 5,
              "sku": "BSG1234B",
              "updated_at": "2013-03-11T09:14:11-03:00",
              "weight": "2.25",
              "width": null      
        }

### Create A New Product Variant [POST /{store_id}/products/#{product_id}/variants]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + product_id (number, `1234`)

+ Attributes
    + price (number) - Price of the Product Variant. `null` indicates the product will initiate a contact instead of a checkout process.
    + promotional_price (string) - Lower price to display as a sale. The value of price will be displayed crossed out for comparison.
    + stock_management (string) - Specifies whether or not Tienda Nube/Nuvem Shop tracks the number of items in stock for this product variant. Valid values are `true` if Tienda Nube/Nuvem Shop tracks the stock, `false` if it doesn't.
    + stock (string) - Stock of the Product Variant. If `stock_management` is `false` the stock will be `null`.
    + weight (string) - Weight of the Product Variant in kilograms.
    + width (string) - Width of the Product Variant in centimetres.
    + height (string) - Height of the Product Variant in centimetres.
    + depth (string) - Depth of the Product Variant in centimetres.
    + sku (string) - Unique identifier of the Product Variant in your store.
    + values (array[string]) - List of the values of the attributes whose values define the variant. E.g.: Large, Medium, etc.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n
    
    + Body

            {
                "values": [
                    {
                        "en": "X-Large"
                    }
                ],
                "price": "19.00"
            }

+ Response 201 (application/json)

        {
              "id": 144,
              "image_id": null,
              "promotional_price": null,
              "created_at": "2013-01-03T09:11:51-03:00",
              "depth": null,
              "height": null,
              "values": [
                  {
                      "en": "X-Large"
                  }
              ],
              "price": "19.00",
              "product_id": 1234,
              "stock_management": false,
              "stock": null,
              "sku": null,
              "updated_at": "2013-06-01T09:15:11-03:00",
              "weight": null,
              "width": null      
        }

### Modify An Existing Product Variant [PUT /{store_id}/products/#{product_id}/variants/#{id}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `144`)
    + product_id (number, `1234`)

+ Attributes
    + values (array[string], required) - List of the values of the attributes whose values define the variant. E.g.: Large, Medium, etc.
    + price (number) - Price of the Product Variant. `null` indicates the product will initiate a contact instead of a checkout process.
    + promotional_price (string) - Lower price to display as a sale. The value of price will be displayed crossed out for comparison.
    + stock_management (string) - Specifies whether or not Tienda Nube/Nuvem Shop tracks the number of items in stock for this product variant. Valid values are `true` if Tienda Nube/Nuvem Shop tracks the stock, `false` if it doesn't.
    + stock (string) - Stock of the Product Variant. If `stock_management` is `false` the stock will be `null`.
    + weight (string) - Weight of the Product Variant in kilograms.
    + width (string) - Width of the Product Variant in centimetres.
    + height (string) - Height of the Product Variant in centimetres.
    + depth (string) - Depth of the Product Variant in centimetres.
    + sku (string) - Unique identifier of the Product Variant in your store.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n
    
    + Body

            {
                  "id": 144,
                  "image_id": null,
                  "promotional_price": "19.00",
                  "created_at": "2013-01-03T09:11:51-03:00",
                  "depth": null,
                  "height": null,
                  "values": [
                      {
                          "en": "X-Large"
                      }
                  ],
                  "price": "25.00",
                  "product_id": 1234,
                  "stock_management": true,
                  "stock": 5,
                  "sku": "BSG1234D",
                  "updated_at": "2013-06-01T09:15:11-03:00",
                  "weight": "2.75",
                  "width": null
            }

+ Response 200 (application/json)

        {
              "id": 144,
              "image_id": null,
              "promotional_price": "19.00",
              "created_at": "2013-01-03T09:11:51-03:00",
              "depth": null,
              "height": null,
              "values": [
                  {
                      "en": "X-Large"
                  }
              ],
              "price": "25.00",
              "product_id": 1234,
              "stock_management": true,
              "stock": 5,
              "sku": "BSG1234D",
              "updated_at": "2013-06-01T12:15:11-03:00",
              "weight": "2.75",
              "width": null      
        }

### Remove A Product Variant [DELETE /{store_id}/products/#{product_id}/variants/#{id}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `112`)
    + product_id (number, `1234`)

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            
        }

## Product Images [/product_image]

+ Attributes
    + id (number) - The unique numeric identifier for the Product Image.
    + product_id (number) - The id of the product associated with the image.
    + src (string) - URL of the product image.
    + position (number) - Number indicating the position of the image in the product's image list. 1 is the first and the main Product Image.
    + `created_at` (string) - Date when the Product Image was created in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
    + `updated_at` (string) - Date when the Product Image was last updated in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).

### Get All Images Of A Product [GET /{store_id}/products/#{product_id}/images/{?since_id,src,position,page,per_page,fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + product_id (number, `1234`)
    + since_id (string, optional, `105`) - Restrict results to after the specified ID.
    + src (string, optional) - Show Product Images with a given URL.
    + position (string, optional) - Show Product Images at a given position.
    + page (string, optional) - Page to show.
    + per_page (string, optional) - Amount of results.
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        [
            {
              "id": 112,
              "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/onyx-640-0.jpg",
              "position": 2,
              "product_id": 1234,
              "created_at": "2013-01-03T09:11:51-03:00",
              "updated_at": "2013-03-11T09:14:11-03:00"
            },
            {
              "id": 123,
              "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/stoutland-640-0.jpg",
              "position": 3,
              "product_id": 1234,
              "created_at": "2013-01-03T09:11:51-03:00",
              "updated_at": "2013-03-11T09:14:11-03:00"
            }
        ]

### Get A Particular Image Of A Product [GET /{store_id}/products/#{product_id}/images/#{id}{?fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `112`)
    + product_id (number, `1234`)
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            "id": 112,
            "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/onyx-640-0.jpg",
            "position": 2,
            "product_id": 1234,
            "created_at": "2013-01-03T09:11:51-03:00",
            "updated_at": "2013-03-11T09:14:11-03:00"
        }

### Upload A New Image To A Product [POST /{store_id}/products/#{product_id}/images/]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + product_id (number, required, `1234`)

+ Attributes
    + src (string) - URL of the product image. If `src` is not provided, `attachment` and `filename` must be present.
    + attachment (string) - Must be image encoded in a Base64 string.
    + filename (string) - A filename containing only letters, numbers, dashes, underscores and dots. Must be in one of the following formats: `.gif`, `.jpg`, `.png`.
    + position (number) - A number indicating in which position of the image list should the new image be placed.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 201 (application/json)

        {
            "id": 134,
            "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/charmander-640-0.jpg",
            "position": 4,
            "product_id": 1234,
            "created_at": "2013-04-12T09:14:11-03:00",
            "updated_at": "2013-04-12T09:14:11-03:00"
        }

### Modify An Existing Product Image [PUT /{store_id}/products/#{product_id}/images/#{id}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `145`)
    + product_id (number, `1234`)

+ Attributes
    + src (string) - URL of the product image. If `src` is not provided, `attachment` and `filename` must be present.
    + attachment (string) - Must be image encoded in a Base64 string.
    + filename (string) - A filename containing only letters, numbers, dashes, underscores and dots. Must be in one of the following formats: `.gif`, `.jpg`, `.png`.
    + position (number) - A number indicating in which position of the image list should the new image be placed.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n
    
    + Body

            {
              "id": 145,
              "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/mewtwo-640-0.jpg",
              "position": 1,
              "product_id": 1234
            }

+ Response 200 (application/json)

        {
          "id": 145,
          "src": "http://d26lpennugtm8s.cloudfront.net/stores/001/234/products/mewtwo-640-0.jpg",
          "position": 1,
          "product_id": 1234,
          "created_at": "2013-01-03T09:11:51-03:00",
          "updated_at": "2013-03-11T09:14:16-03:00"
        }

### Remove A Product Image [DELETE /{store_id}/products/#{product_id}/images/#{id}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `145`)
    + product_id (number, `1234`)

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            
        }

# Group Category

## Introduction

A Category lets the store owner group their products to make the store easier to browse.

## Managing Categories [/categories]

+ Attributes
    + id (number) - The unique numeric identifier for the Category.
    + name (array[string]) - List of the names of the Category, in every language supported by the store.
    + description (array[string]) - List of the descriptions of the Category, as HTML, in every language supported by the store.
    + handle (array[string]) - List of the url-friendly strings generated from the Category's names, in every language supported by the store.
    + parent (string) - Id of the Category's parent. `null` if it has no parent.
    + subcategories (string) - The ids of the Category's first level subcategories.
    + `created_at` (string) - Date when the Category was created in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
    + `updated_at` (string) - Date when the Category was last updated in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).

### Get All Categories [GET /{store_id}/categories/{?since_id,language,handle,parent_id,created_at_min,created_at_max,updated_at_min,updated_at_max,page,per_page,fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + since_id (string, optional) - Restrict results to after the specified ID.
    + language (string, optional) - Specify search language (required when serching for handle).
    + handle (string, optional) - Show Categories with a given URL.
    + parent_id (string, optional) - Show Categories with a given parent category.
    + created_at_min (string, optional) - Show Categories created after date (ISO 8601 format).
    + created_at_max (string, optional) - Show Categories created before date (ISO 8601 format).
    + updated_at_min (string, optional) - Show Categories last updated after date (ISO 8601 format).
    + updated_at_max (string, optional) - Show Categories last updated before date (ISO 8601 format).
    + page (number, optional) - Page to show.
    + per_page (string, optional) - Amount of results.
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        [
            {
              "created_at": "2013-01-03T09:11:51-03:00",
              "description": {
                  "en": "",
                  "es": "",
                  "pt": ""
              },
              "handle": {
                  "en": "poke-balls",
                  "es": "poke-balls",
                  "pt": "poke-balls"
              },
              "id": 4567,
              "name": {
                  "en": "Poké Balls",
                  "es": "Poké Balls",
                  "pt": "Poké Balls"
              },
              "parent": null,
              "subcategories": [],
              "updated_at": "2013-03-11T09:14:11-03:00"
            }
        ]

### Get A Category [GET /{store_id}/categories/#{id}{?fields}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `4567`)
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
          "created_at": "2013-01-03T09:11:51-03:00",
          "description": {
              "en": "",
              "es": "",
              "pt": ""
          },
          "handle": {
              "en": "poke-balls",
              "es": "poke-balls",
              "pt": "poke-balls"
          },
          "id": 4567,
          "name": {
              "en": "Poké Balls",
              "es": "Poké Balls",
              "pt": "Poké Balls"
          },
          "parent": null,
          "subcategories": [],
          "updated_at": "2013-03-11T09:14:11-03:00"
        }

### Create A New Category [POST /{store_id}/categories/]

+ Parameters
    + store_id (integer, required) - The requested store ID.

+ Attributes
    + name (string, required) - Name of the category, in every language supported by the store.
    + description (array[string]) - List of the descriptions of the Category, as HTML, in every language supported by the store.
    + parent (string) - Id of the Category's parent. `null` if it has no parent.
    + subcategories (array[string]) - List of the ids of the Category's first level subcategories.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n
    
    + Body

            {
                "name": {
                  "en": "Gen I",
                  "es": "Gen I",
                  "pt": "Gen I"
                },
                "parent": 4567    
            }

+ Response 201 (application/json)

        {
          "created_at": "2013-06-01T12:15:11-03:00",
          "description": {
              "en": "",
              "es": "",
              "pt": ""
          },
          "handle": {
              "en": "gen-i",
              "es": "gen-i",
              "pt": "gen-i"
          },
          "id": 5678,
          "name": {
              "en": "Gen I",
              "es": "Gen I",
              "pt": "Gen I"
          },
          "parent": 4567,
          "subcategories": [],
          "updated_at": "2013-06-01T12:15:11-03:00"
        }

### Modify An Existing Category [PUT /{store_id}/categories/#{id}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `5678`)

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n
    
    + Body

            {
              "id": 5678,
              "parent": null
            }

+ Response 200 (application/json)

        {
          "created_at": "2013-06-01T12:15:11-03:00",
          "description": {
              "en": "",
              "es": "",
              "pt": ""
          },
          "handle": {
              "en": "gen-i",
              "es": "gen-i",
              "pt": "gen-i"
          },
          "id": 5678,
          "name": {
              "en": "Gen I",
              "es": "Gen I",
              "pt": "Gen I"
          },
          "parent": null,
          "subcategories": [],
          "updated_at": "2013-06-01T12:15:11-03:00"
        }

### Remove A Category [DELETE /{store_id}/categories/#{id}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `4567`)

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            
        }

# Group Order

## Introduction

An order is created when a customer completes the checkout process. Orders can't be created through the API.

Orders contain 3 important fields that are detailed below. These are `products`, `next_action` and `issues`:

* `products`
    * `product_id` - [Product](/#reference/product) purchased.
    * `variant_id` - [Product Variant](/#reference/product) purchased.
    * `name` - Product's name at the time of purchase.
    * `price` - Product's price at the time of purchase.
    * `quantity` - Quantity purchased.
    * `weight` - Product's weight at the time of purchase.
    * `width` - Product's width at the time of purchase.
    * `height` - Product's height at the time of purchase.
    * `depth` - Product's depth at the time of purchase.
    * `free_shipping` - Indicates if the product has free shipping or not.
    * `issues` - Possibles issues that can happen to an order. Contents are explained below.

* `next_action`
    * `noop` - No action to take.
    * `close` - Order should be closed.
    * `waiting_ipn` - We are waiting for the gateway to update us on the order status, the seller just needs to wait.
    * `waiting_manual_confirmation` - We are waiting for the seller to confirm the transaction.
    * `waiting_packing` - We are waiting for the seller to pack the order items.
    * `waiting_pickup` - We are waiting for the fulfillment provider to pick up the order.
    * `waiting_client_pickup` - We are waiting for the buyer to pick up the order (he shipped it to a seller's B&M store).
    * `waiting_shipment` - We are waiting for the seller to ship the order.

* `issues`
    * `unclaimed_stock` (number) - Can happen due to a race condition while the user is trying to pay the order and another user buys the same item.

> **Note**: The `unclaimed_stock` property of the `issues` attribute has a number value associated to it which represents the number of items claimed by the user with insufficient stock.

## Managing Orders [/order]

+ Attributes
    + id (number) - The unique numeric identifier for the Order. It's different from `number`.
    + token (string) - Specifies the location of the Order.
    + number (string) - Unique number identifier for an Order used by the shop owner and customers. It's sequential and starts at 100.
    + customer (string) - [Customer](/#reference/customer) that purchased this Order. Only given if the 'read_customers' scope is set for the app.
    + products (array[string]) - List of the products purchased by the `customer`. Contents are explained [above](/#reference/order) and values hold are the ones corresponding to the time the products were purchased.
    + note (string) - Customer's note about the order.
    + owner_note (string) - Store owner's note about the order.
    + coupon (array[string]) - List of coupons applied to the order.
    + discount (string) - Total value of the discount applied to the price of the order.
    + subtotal (string) - Price of the order before shipping.
    + total (string) - Total price of the order including shipping and discounts.
    + total_usd (string) - Total price of the order in US dollars.
    + currency (string) - The total spent's currency in [ISO 4217 format](https://en.wikipedia.org/wiki/ISO_4217).
    + language (string) - Order's language used by the customer during the checkout process.
    + gateway (string) - The payment gateway used.
    + shipping (string) - The shipping method used.
    + shipping_pickup_type (string) - "ship" if the order is going to be shipped; "pickup" if it's going to be picked up from a store branch.
    + shipping_store_branch_name (string) - If order is going to be picked up, shows the store branch name.
    + shipping_address (string) - The customer's shipping address where the order will be shipped.
    + shipping_tracking_number (string) - The shipping tracking number for the order. This may be null if not available.
    + shipping_min_days (string) - The minimum number of weekdays needed for the order to be delivered.
    + shipping_max_days (string) - The maximum number of weekdays needed for the order to be delivered.
    + shipping_cost_owner (string) - The shipping cost the store owner has to pay to the shipping company.
    + shipping_cost_customer (string) - The shipping cost the customer has to pay to the store owner.
    + billing_address (string) - Billing address for the order.
    + billing_number (string) - Billing number for the order.
    + billing_floor (string) - Billing floor for the order.
    + billing_locality (string) - Billing locality for the order.
    + billing_zipcode (string) - Billing zipcode for the order.
    + billing_city (string) - Billing city for the order.
    + billing_province (string) - Billing province for the order.
    + billing_country (string) - Billing country code for the order.
    + extra (string) - A JSON object containing custom information. Can be set via the API or through custom form fields of name "`extra[key]`" on the cart's checkout form in the storefront.
    + weight (string) - Order's total weight, in kilograms.
    + status (string) - Order's status. Possible values are "`open`", "`closed`" or "`cancelled`".
    + payment_status (string) - Order's payment status. Possible values are "`authorized`", "`pending`", "`paid`", "`abandoned`", "`refunded`" or "`voided`".
    + shipping_status (string) - Order's shipping status. Possible values are "`unpacked`", "`shipped`" or "`unshipped`".
    + next_action (string) - Next available operation in the orders flow.
    + `shipped_at` (string) - Date when the Order was shipped in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
    + cancel_reason (string) - Reason why the store owner cancelled an Order. Possible values are "`customer`", "`fraud`", "`inventory`" or "`other`".
    + `created_at` (string) - Date when the Order was created in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
    + `updated_at` (string) - Date when the Order was last updated in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601).
    + next_action - Specifies the next action to take by the Order. Contents are explained [above](/#reference/order).

### Get All Orders [GET /{store_id}/orders/{?since_id,status,payment_status,shipping_status,created_at_min,created_at_max,updated_at_min,updated_at_max,total_min,total_max,customer_ids,page,per_page,fields,q}]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + since_id (string, optional) - Restrict results to after the specified ID.
    + status (string, optional) - Show Orders with a given state.
        + Default: `any`
    + payment_status (string, optional) - Show Orders with a given payment state. `any` is the default (it means authorized, pending and paid orders).
        + Default: `any`
    + shipping_status (string, optional) - Show Orders with a given shipping state.
        + Default: `any`
    + created_at_min (string, optional) - Show Orders created after date (ISO 8601 format).
    + created_at_max (string, optional) - Show Orders created before date (ISO 8601 format).
    + updated_at_min (string, optional) - Show Orders last updated after date (ISO 8601 format).
    + updated_at_max (string, optional) - Show Orders last updated before date (ISO 8601 format).
    + total_min (string, optional) - Show Orders with total value bigger or equals than the specified value.
    + total_max (string, optional) - Show Orders with total value lower or equals than the specified value.
    + customer_ids (string, optional) - Restrict results to the specified customer IDs (comma-separated).
    + page (string, optional) - Page to show.
    + per_page (string, optional) - Amount of results.
    + fields (string, optional, `id,number,price_usd`) - Comma-separated list of fields to include in the response.
    + q (string, optional) - Search Orders by the given number; or containing the given text in the customer name or email.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        [
            {
              "id": 450789469,
              "number": "101",
              "price_usd": "58.00"
            }
        ]

### Get A Particular Order [GET /{store_id}/orders/#{id}{?fields}]

+ Parameters
    + store_id (integer, required, ) - The requested store ID.
    + id (number, `450789469`) - The unique numeric identifier for the Order.
    + fields (string, optional) - Comma-separated list of fields to include in the response.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            "cancel_reason": null,
            "created_at": "2008-01-10T11:00:00-05:00",
            "currency": "USD",
            "gateway": "paypal",
            "id": 450789469,
            "landing_site": "http://www.example.com?source=abc",
            "language": "en",
            "location_id": null,
            "name": "#1001",
            "note": null,
            "number": 1,
            "owner_note": null,
            "payment_status": "pending",
            "shipping": "ups",
            "shipping_status": "unshipped",
            "shipping_tracking_number": null,
            "shipping_min_days": 2,
            "shipping_max_days": 4,
            "shipping_cost_owner": "20.00",
            "shipping_cost_customer": "20.00",
            "status": "open",
            "subtotal": "38.00",
            "token": "898544a54283414238f74cd08f0efd3916f74b75",
            "discount": "0.00",
            "price": "58.00",
            "price_usd": "58.00",
            "weight": "2.00",
            "updated_at": "2008-01-10T11:00:00-05:00",
            "shipped_at": "2008-01-10T11:00:00-05:00",
            "number": 101,
            "coupon": [
              {
                "code": "SUPERDISCOUNT"
              }
            ],
            "products": [
              {
                "depth": null,
                "height": null,
                "price": "19.00",
                "product_id": 1234,
                "quantity": 2,
                "free_shipping": false,
                "variant_id": 101,
                "weight": "2.00",
                "width": null
              }
            ],
            "billing_address": "Evergreen Terrace",
            "billing_city": "Springfield",
            "billing_country": "US",
            "billing_default": true,
            "billing_floor": null,
            "billing_locality": null,
            "billing_number": "742",
            "billing_phone": "555-123-0413",
            "billing_province": "Oregon",
            "billing_zipcode": "97475",
            "extra": {
              "gift-wrap": "deluxe"
            },
            "shipping_pickup_type": "ship",
            "shipping_store_branch_name": null,
            "shipping_address": {
              "address": "Evergreen Terrace",
              "city": "Springfield",
              "country": "US",
              "created_at": "2013-01-03T09:11:51-03:00",
              "default": true,
              "floor": null,
              "id": 1234,
              "locality": null,
              "number": "742",
              "phone": "555-123-0413",
              "province": "Oregon",
              "updated_at": "2013-03-10T11:13:01-03:00",
              "zipcode": "97475"
            },
            "customer": {
              "created_at": "2013-01-03T09:11:51-03:00",
              "email": "john.doe@example.com",
              "id": 101,
              "last_order_id": 9001,
              "name": "John Doe",
              "total_spent": "89.00",
              "total_spent_currency": "USD",
              "updated_at": "2013-03-11T09:14:11-03:00",
              "default_address": {
                "address": "Evergreen Terrace",
                "city": "Springfield",
                "country": "US",
                "created_at": "2013-01-03T09:11:51-03:00",
                "default": true,
                "floor": null,
                "id": 1234,
                "locality": null,
                "number": "742",
                "phone": "555-123-0413",
                "province": "Oregon",
                "updated_at": "2013-03-10T11:13:01-03:00",
                "zipcode": "97475"
              }
            }
        }

### Close The Order [POST /{store_id}/orders/#{id}/close]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `450789469`) - The unique numeric identifier for the Order.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            "cancel_reason": null,
            "created_at": "2008-01-10T11:00:00-05:00",
            "currency": "USD",
            "gateway": "paypal",
            "id": 450789469,
            "landing_site": "http://www.example.com?source=abc",
            "language": "en",
            "location_id": null,
            "name": "#1001",
            "note": null,
            "number": 1,
            "owner_note": null,
            "payment_status": "pending",
            "shipping": "ups",
            "shipping_status": "unshipped",
            "shipping_tracking_number": null,
            "shipping_min_days": 2,
            "shipping_max_days": 4,
            "shipping_cost_owner": "20.00",
            "shipping_cost_customer": "20.00",
            "status": "closed",
            "subtotal": "38.00",
            "token": "898544a54283414238f74cd08f0efd3916f74b75",
            "discount": "0.00",
            "price": "58.00",
            "price_usd": "58.00",
            "weight": "2.00",
            "updated_at": "2008-01-10T11:00:00-05:00",
            "shipped_at": "2008-01-10T11:00:00-05:00",
            "number": 101,
            "coupon": [
              {
                "code": "SUPERDISCOUNT"
              }
            ],
            "products": [
              {
                "depth": null,
                "height": null,
                "price": "19.00",
                "product_id": 1234,
                "quantity": 2,
                "free_shipping": false,
                "variant_id": 101,
                "weight": "2.00",
                "width": null
              }
            ],
            "billing_address": "Evergreen Terrace",
            "billing_city": "Springfield",
            "billing_country": "US",
            "billing_default": true,
            "billing_floor": null,
            "billing_locality": null,
            "billing_number": "742",
            "billing_phone": "555-123-0413",
            "billing_province": "Oregon",
            "billing_zipcode": "97475",
            "extra": {
              "gift-wrap": "deluxe"
            },
            "shipping_pickup_type": "ship",
            "shipping_store_branch_name": null,
            "shipping_address": {
              "address": "Evergreen Terrace",
              "city": "Springfield",
              "country": "US",
              "created_at": "2013-01-03T09:11:51-03:00",
              "default": true,
              "floor": null,
              "id": 1234,
              "locality": null,
              "number": "742",
              "phone": "555-123-0413",
              "province": "Oregon",
              "updated_at": "2013-03-10T11:13:01-03:00",
              "zipcode": "97475"
            },
            "customer": {
              "created_at": "2013-01-03T09:11:51-03:00",
              "email": "john.doe@example.com",
              "id": 101,
              "last_order_id": 9001,
              "name": "John Doe",
              "total_spent": "89.00",
              "total_spent_currency": "USD",
              "updated_at": "2013-03-11T09:14:11-03:00",
              "default_address": {
                "address": "Evergreen Terrace",
                "city": "Springfield",
                "country": "US",
                "created_at": "2013-01-03T09:11:51-03:00",
                "default": true,
                "floor": null,
                "id": 1234,
                "locality": null,
                "number": "742",
                "phone": "555-123-0413",
                "province": "Oregon",
                "updated_at": "2013-03-10T11:13:01-03:00",
                "zipcode": "97475"
              }
            }
        }

### Re-Open A Closed Order [POST /{store_id}/orders/#{id}/open]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, `450789469`) - The unique numeric identifier for the Order.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            "cancel_reason": null,
            "created_at": "2008-01-10T11:00:00-05:00",
            "currency": "USD",
            "gateway": "paypal",
            "id": 450789469,
            "landing_site": "http://www.example.com?source=abc",
            "language": "en",
            "location_id": null,
            "name": "#1001",
            "note": null,
            "number": 1,
            "owner_note": null,
            "payment_status": "pending",
            "shipping": "ups",
            "shipping_status": "unshipped",
            "shipping_tracking_number": null,
            "shipping_min_days": 2,
            "shipping_max_days": 4,
            "status": "open",
            "subtotal": "38.00",
            "token": "898544a54283414238f74cd08f0efd3916f74b75",
            "discount": "0.00",
            "price": "58.00",
            "price_usd": "58.00",
            "weight": "2.00",
            "updated_at": "2008-01-10T11:00:00-05:00",
            "shipped_at": "2008-01-10T11:00:00-05:00",
            "number": 101,
            "coupon": [
              {
                "code": "SUPERDISCOUNT"
              }
            ],
            "products": [
              {
                "depth": null,
                "height": null,
                "price": "19.00",
                "product_id": 1234,
                "quantity": 2,
                "variant_id": 101,
                "weight": "2.00",
                "width": null
              }
            ],
            "billing_address": "Evergreen Terrace",
            "billing_city": "Springfield",
            "billing_country": "US",
            "billing_default": true,
            "billing_floor": null,
            "billing_locality": null,
            "billing_number": "742",
            "billing_phone": "555-123-0413",
            "billing_province": "Oregon",
            "billing_zipcode": "97475",
            "extra": {
              "gift-wrap": "deluxe"
            },
            "shipping_pickup_type": "ship",
            "shipping_store_branch_name": null,
            "shipping_address": {
              "address": "Evergreen Terrace",
              "city": "Springfield",
              "country": "US",
              "created_at": "2013-01-03T09:11:51-03:00",
              "default": true,
              "floor": null,
              "id": 1234,
              "locality": null,
              "number": "742",
              "phone": "555-123-0413",
              "province": "Oregon",
              "updated_at": "2013-03-10T11:13:01-03:00",
              "zipcode": "97475"
            },
            "customer": {
              "created_at": "2013-01-03T09:11:51-03:00",
              "email": "john.doe@example.com",
              "id": 101,
              "last_order_id": 9001,
              "name": "John Doe",
              "total_spent": "89.00",
              "total_spent_currency": "USD",
              "updated_at": "2013-03-11T09:14:11-03:00",
              "default_address": {
                "address": "Evergreen Terrace",
                "city": "Springfield",
                "country": "US",
                "created_at": "2013-01-03T09:11:51-03:00",
                "default": true,
                "floor": null,
                "id": 1234,
                "locality": null,
                "number": "742",
                "phone": "555-123-0413",
                "province": "Oregon",
                "updated_at": "2013-03-10T11:13:01-03:00",
                "zipcode": "97475"
              }
            }
        }

### Mark The Order As Packed [POST /{store_id}/orders/#{id}/pack/]

+ Parameters
    + store_id (integer, required, `23498`) - The requested store ID.
    + id (number, required, `30459875`) - The unique numeric identifier for the Order.

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            "id": 30459875,
            "token": "53fead2d765a92c44ff41cfd4dc58daf04b5ade3",
            "store_id": 23498,
            "shipping_min_days": 12,
            "shipping_max_days": 12,
            "billing_name": "Nombre",
            "billing_phone": "3132131589",
            "billing_address": "Rua Hilarino Benedito Malta",
            "billing_number": "123",
            "billing_floor": "",
            "billing_locality": "Madre Gertrudes",
            "billing_zipcode": "30512770",
            "billing_city": "Belo Horizonte",
            "billing_province": "Minas Gerais",
            "billing_country": "BR",
            "shipping_cost_owner": "23.28",
            "shipping_cost_customer": "23.28",
            "coupon": [],
            "promotional_discount": {
                "id": null,
                "store_id": 23498,
                "order_id": 30459875,
                "created_at": "2018-10-01T20:35:53+0000",
                "total_discount_amount": "0.00",
                "contents": [],
                "promotions_applied": []
            },
            "subtotal": "245.90",
            "discount": "0.00",
            "discount_coupon": "0.00",
            "discount_gateway": "0.00",
            "total": "269.18",
            "total_usd": "84.06",
            "weight": "0.615",
            "currency": "BRL",
            "language": "pt",
            "gateway": "pagseguro",
            "gateway_id": "7707AB85-8CFB-4D9A-B195-D23FDE1A0736",
            "shipping": "correios",
            "shipping_option": "Correios - PAC",
            "shipping_store_branch_name": null,
            "shipping_pickup_type": "ship",
            "shipping_suboption": [],
            "extra": {},
            "storefront": "store",
            "note": null,
            "created_at": "2018-03-29T17:38:47+0000",
            "updated_at": "2018-10-01T20:35:53+0000",
            "completed_at": {
                "date": "2018-03-29 17:38:47.000000",
                "timezone_type": 3,
                "timezone": "UTC"
            },
            "next_action": "waiting_ipn",
            "payment_details": {
                "method": null,
                "credit_card_company": "visa",
                "installments": 0
            },
            "customer": {
                "id": 8539058,
                "name": "Nombre Apellido",
                "email": "c71305313732808644615@sandbox.pagseguro.com.br",
                "identification": "12345678909",
                "phone": "3132131589",
                "note": null,
                "default_address": {
                    "address": "Rua Hilarino Benedito Malta",
                    "city": "Belo Horizonte",
                    "country": "BR",
                    "created_at": "2018-03-29T17:38:46+0000",
                    "default": true,
                    "floor": "",
                    "id": 5115424,
                    "locality": "Madre Gertrudes",
                    "name": "Nombre Apellido",
                    "number": "123",
                    "phone": "3132131589",
                    "province": "Minas Gerais",
                    "updated_at": "2018-03-29T17:38:46+0000",
                    "zipcode": "30512770"
                },
                "addresses": [
                    {
                        "address": "Rua Hilarino Benedito Malta",
                        "city": "Belo Horizonte",
                        "country": "BR",
                        "created_at": "2018-03-29T17:38:46+0000",
                        "default": true,
                        "floor": "",
                        "id": 5115424,
                        "locality": "Madre Gertrudes",
                        "name": "Nombre Apellido",
                        "number": "123",
                        "phone": "3132131589",
                        "province": "Minas Gerais",
                        "updated_at": "2018-03-29T17:38:46+0000",
                        "zipcode": "30512770"
                    }
                ],
                "billing_name": "Nombre",
                "billing_phone": "3132131589",
                "billing_address": "Rua Hilarino Benedito Malta",
                "billing_number": "123",
                "billing_floor": "",
                "billing_locality": "Madre Gertrudes",
                "billing_zipcode": "30512770",
                "billing_city": "Belo Horizonte",
                "billing_province": "Minas Gerais",
                "billing_country": "BR",
                "extra": {},
                "total_spent": "269.18",
                "total_spent_currency": "BRL",
                "last_order_id": 30459875,
                "active": false,
                "created_at": "2018-03-29T17:38:46+0000",
                "updated_at": "2018-03-29T17:38:47+0000"
            },
            "products": [
                {
                    "id": 32720350,
                    "depth": "0.00",
                    "height": "0.00",
                    "name": "The Coffee Care - Esfoliante Corporal",
                    "price": "59.90",
                    "product_id": 15033192,
                    "image": {
                        "id": 12807577,
                        "product_id": 15033192,
                        "src": "https://www.example.com/n1c31mag3-1024-1024.png",
                        "position": 1,
                        "alt": [],
                        "created_at": "2016-06-25T20:53:55+0000",
                        "updated_at": "2016-07-12T18:13:27+0000"
                    },
                    "quantity": 1,
                    "free_shipping": false,
                    "weight": "0.20",
                    "width": "0.00",
                    "variant_id": 26801223,
                    "variant_values": [],
                    "sku": "Cofee200",
                    "barcode": null
                },
                {
                    "id": 32720349,
                    "depth": "0.00",
                    "height": "0.00",
                    "name": "ZMA TESTO FOODS - BR NUTRITION FOODS (120 cápsulas)",
                    "price": "70.00",
                    "product_id": 12365900,
                    "image": {
                        "id": 10297567,
                        "product_id": 12365900,
                        "src": "https://www.example.com/n1c31mag3-1024-1024.png",
                        "position": 1,
                        "alt": [],
                        "created_at": "2016-02-20T15:37:34+0000",
                        "updated_at": "2016-02-20T15:41:23+0000"
                    },
                    "quantity": 2,
                    "free_shipping": false,
                    "weight": "0.15",
                    "width": "0.00",
                    "variant_id": 22150439,
                    "variant_values": [
                        "120 cápsulas"
                    ],
                    "sku": "3230",
                    "barcode": null
                },
                {
                    "id": 32720348,
                    "depth": "0.00",
                    "height": "0.00",
                    "name": "Syn Ake 4% - Creme de veneno de cobra (15 g)",
                    "price": "46.00",
                    "product_id": 15259901,
                    "image": {
                        "id": 13132538,
                        "product_id": 15259901,
                        "src": "https://www.example.com/n1c31mag3-1024-1024.png",
                        "position": 1,
                        "alt": [],
                        "created_at": "2016-07-12T01:14:05+0000",
                        "updated_at": "2016-07-19T18:41:12+0000"
                    },
                    "quantity": 1,
                    "free_shipping": false,
                    "weight": "0.12",
                    "width": "0.00",
                    "variant_id": 27343759,
                    "variant_values": [
                        "15 g"
                    ],
                    "sku": null,
                    "barcode": null
                }
            ],
            "clearsale": {
                "CodigoIntegracao": "c61a0034-d670-4785-94b4-14fb0970527c",
                "IP": null,
                "Estado": "MG"
            },
            "number": 6558,
            "cancel_reason": null,
            "owner_note": null,
            "cancelled_at": null,
            "closed_at": null,
            "read_at": null,
            "status": "open",
            "payment_status": "pending",
            "shipping_address": {
                "address": "Rua Hilarino Benedito Malta",
                "city": "Belo Horizonte",
                "country": "BR",
                "created_at": "2018-03-29T17:38:46+0000",
                "default": true,
                "floor": "",
                "id": 5115424,
                "locality": "Madre Gertrudes",
                "name": "Nombre Apellido",
                "number": "123",
                "phone": "3132131589",
                "province": "Minas Gerais",
                "updated_at": "2018-03-29T17:38:46+0000",
                "zipcode": "30512770"
            },
            "shipping_status": "unshipped",
            "shipping_tracking_number": null,
            "shipped_at": null,
            "paid_at": null
        }

### Fulfill The Order [POST /{store_id}/orders/#{id}/fulfill/]

+ Parameters
    + store_id (integer, required) - The requested store ID.
    + id (number, required, `450789469`) - The unique numeric identifier for the Order.

+ Attributes
    + shipping_tracking_number (string) - Shipment's tracking number provided by the shipping company.
    + notify_customer (string) - Notify the customer of the cancellation.
        + Default: `true`

+ Request (application/json)

    + Headers
    
            User-Agent: Awesome app (awesome@app.com)
            Authentication: bearer mySt0r34cc3ssT0k3n

+ Response 200 (application/json)

        {
            "cancel_reason": null,
            "created_at": "2008-01-10T11:00:00-05:00",
            "currency": "USD",
            "gateway": "paypal",
            "id": 450789469,
[...]
